mixin phone 
  .phone 
    p.phone__title Есть вопросы? Звоните!
    form.phone__form(action="")
      a.phone__link(href="tel:+74951059818") 8 (495) 105-98-18
      button.phone__button(type='submit') Заказать обратный звонок