mixin bag
  .bag
    form.bag__form
      .bag__wrapper
        button.bag__button(type='button') -
        input.bag__input(type="text" readonly value="1")
        button.bag__button(type='button') +
      button.bag__basket(type='button') В корзину