mixin transfer 
  .transfer 
    h2.transfer__title Регион доставки: 
      span Краснодар
    table.transfer__table
      tr.transfer__row
        td.transfer__cell
          a.transfer__link(href="")
            span Пункты самовывоза
        td.transfer__cell 2 дня
        td.transfer__cell.transfer__price 165&#8381;
      tr.transfer__row
        td.transfer__cell Курьером
        td.transfer__cell 2 дня
        td.transfer__cell.transfer__price 305&#8381;
      tr.transfer__row
        td.transfer__cell Почта России
        td.transfer__cell 5-14 дней
        td.transfer__cell.transfer__price 250&#8381;
