mixin info
  .info
    .info__code
      label.info__label Код товара:
      input.info__input(type="text" readonly value="15112")
    p.info__volume На складе много
    p.info__event
      | Нашли дешевле? 
      span Снизим цену!