mixin info
  .info
    .info__code
      label.info__label Код товара:
      input.info__input(type="text" readonly value="15112")
    .info__wrapper
      svg.info__fit
        use(xlink:href="./images/fit.svg#fit")
      p.info__volume На складе много
    p.info__event
      | Нашли дешевле? 
      span Снизим цену!