mixin description 
  .description
    .description__paragraph
      h2.description__title.description__title_active Описание
      h2.description__title Характеристики
      .description__block
    .description__specification
      p.description__text Помните веселого персонажа из мультфильма про кунг-фу? Энергичный, немного глуповатый и малость невезучий, По доказал каждому, что его возможности безграничны. Пожалуй, эта панда – настоящий символ настойчивости и упорства. Мы предлагаем вам облачиться в нежную черно-белую шерстку, которая так и просит «обними меня!».
      p.description__text Костюм мастера кунг-фу изготовлен из велсофта. Это позволяет коже дышать и не потеть, даже если вам предстоит веселить своих друзей весь день. Пижама застегивается на пуговички и плотно прилегает к рукам и ногам в области манжетов. Голову прикрывает яркая мордочка с ушками, которая завершает образ.
      p.description__text Панды – ленивые создания, но очень притягательные. Вам будет сложно отказать в объятиях. Почему бы не воспользоваться этой особенностью с пользой для себя? В таком костюме не важно, где именно будет ваша вечеринка. Главное то, что никто на ней вас точно не забудет.
    .description__specification.description__specification_hidden
      table.description__table
        tr.description__row
          td.description__cell Материал
          td.description__cell Велсофт
        tr.description__row
          td.description__cell Цвет
          td.description__cell
            .description__wrapper
              .description__stock.description__stock_color_white
              .description__stock.description__stock_color_red
              .description__stock.description__stock_color_black
        tr.description__row
          td.description__cell Для кого
          td.description__cell Унисекс
        tr.description__row
          td.description__cell Тапочки в комплекте
          td.description__cell Нет
        tr.description__row
          td.description__cell Уход
          td.description__cell Деликатная стрика
        tr.description__row
          td.description__cell Молния на попе
          td.description__cell Есть
        tr.description__row
          td.description__cell Хвост
          td.description__cell Есть
        tr.description__row
          td.description__cell Тип застёжек
          td.description__cell Пуговицы
        tr.description__row
          td.description__cell Карманы
          td.description__cell Нет
