mixin product-card
  .card
    .card__block
      +picture
      .card__dashboard
        .card__wrapper
          +price
          +info
        .card__wrapp
          +size
        .card__wrapp
          +bag
        .card__wrapp
          +order
    .card__block
      .card__rule
        .card__wrapp
          +transfer
        .card__wrapp
          +rule
        .card__wrapp 
          +phone
      .card__description 
        +description
    +modal