@font-face {
  font-family: DINRoundPro;
  src: url("./assets/fonts/DINRoundPro-Bold.otf") format("opentype");
  font-weight: bold;
}
@font-face {
  font-family: DINRoundPro;
  src: url("./assets/fonts/DINRoundPro-Regular.otf") format("opentype");
  font-weight: normal;
}
@font-face {
  font-family: DINRoundPro;
  src: url("./assets/fonts/DINRoundPro-Black.otf") format("opentype");
  font-weight: 900;
}
@font-face {
  font-family: DINRoundPro;
  src: url("./assets/fonts/DINRoundPro-Light.otf") format("opentype");
  font-weight: 300;
}
@font-face {
  font-family: DINRoundPro;
  src: url("./assets/fonts/DINRoundPro-Medium.otf") format("opentype");
  font-weight: 500;
}