include ../product-card/product-card.pug
include ../product-card/components/picture/picture.pug
include ../product-card/components/price/price.pug
include ../product-card/components/info/info.pug
include ../product-card/components/size/size.pug
include ../product-card/components/bag/bag.pug
include ../product-card/components/order/order.pug
include ../product-card/components/transfer/transfer.pug
include ../product-card/components/rule/rule.pug
include ../product-card/components/phone/phone.pug
include ../product-card/components/description/description.pug
include ../product-card/components/modal/modal.pug