mixin picture
  .picture
    img.picture__img(src="./src/assets/images/monkey-kigurumi.jpg", alt="alt")
    .picture__button-block 
      button.picture__button.picture__button_active(type='button')
      button.picture__button(type='button')
      button.picture__button(type='button')
