.picture {
  position: relative;
  @media (max-width: 1140px) {
    padding-bottom: 20px;
  }
}
.picture__img {
  border: 1px solid #e7e7e7;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  width: 395px;
  height: 540px;
  object-fit: cover;
  @media (max-width:520px) {
    width: 270px;
    height: 358px;
  }
}
.image__link {
  cursor: zoom-in;
}
.picture__button-block {
  position: absolute;
  bottom: 180px;
  left: 365px;
  display: flex;
  flex-direction: column;
  z-index: 999;
  @media (max-width:520px) {
    bottom: -5px;
    left: 70px;
    flex-direction: row;
  }
}
.picture__button {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-position: center center;
  background-size: 60px 60px;
  background-repeat: no-repeat;
  margin-bottom: 10px;
  border: 5px solid transparent;
  outline: none;
  cursor: pointer;
  box-shadow: 0px 3px 79px 0px rgba(0, 0, 0, 0.11);
  @media (max-width:520px) {
    height: 48px;
    width: 48px;
  }
}
.picture__button_active {
  border: 5px solid #f0b328;
}