mixin picture
  .picture
    a.image__link(href="./images/monkey-kigurumi.jpg") 
      img.picture__img(src="./images/monkey-kigurumi.jpg", alt="alt")
    img.picture__img(src="./images/monkey-yellow.jpg", alt="alt")
    img.picture__img(src="./images/monkey-cap.jpg", alt="alt")
    .picture__button-block 
      button.picture__button.picture__button_active(type='button')
      button.picture__button(type='button')
      button.picture__button(type='button')
