mixin size 
  .size
    form.size__form
      .size__wrapper
        h3.size__title Выберите размер
        hr(noshade)
      .size__panel
        button.size__button.size__button_active(type="button") S
        button.size__button(type="button") M
        button.size__button(type="button") L
        button.size__button.size__button_disabled(type="button") XL
        button.size__button.size__button_disabled(type="button") XXL
        button.size__button.size__button_resize(type="button") Подобрать оптимальный&nbsp;размер