.order__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding-left: 20px;
  border: 1px solid #cfcfcf;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  @media (max-width: 520px) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: none;
    height: 100px;
  }
}
.order__title {
  font-family: DINRoundPro, sans-serif;
  font-size: 18px;
  font-weight: bold;
}
.order__description {
  font-family: DINRoundPro, sans-serif;
  font-size: 14px;
  font-weight: 100;
  color: #acabab;
  width: 450px;
  padding: 20px 0;
  @media (max-width: 520px) {
    width: 270px;
  }
}
.order__input {
  font-family: DINRoundPro, sans-serif;
  font-size: 22px;
  font-weight: bold;
  border: none;
  outline: none;
  @media (max-width: 520px) {
    border: 1px solid #cfcfcf;
    border-radius: 20px;
    height: 40px;
    width: 270px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
}
.order__button {
  font-family: DINRoundPro, sans-serif;
  font-size: 16px;
  color: white;
  font-weight: bold;
  width: 210px;
  height: 50px;
  border: none;
  border-radius: 25px;
  background: #ec9e21;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  outline: none;
  cursor: pointer;
  box-shadow: 0px 5px 15px 0px rgba(147, 97, 18, 0.28);
  @media (max-width: 520px) {
    width: 270px;
    height: 40px;
  }
}