.order__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding-left: 20px;
  border: 1px solid #cfcfcf;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
.order__title {
  font-family: DINRoundPro, sans-serif;
  font-size: 18px;
  font-weight: bold;
}
.order__description {
  font-family: DINRoundPro, sans-serif;
  font-size: 14px;
  font-weight: 100;
  color: #acabab;
  width: 450px;
  padding: 20px 0;
}
.order__input {
  font-family: DINRoundPro, sans-serif;
  font-size: 22px;
  font-weight: bold;
  border: none;
  outline: none;
}
.order__button {
  font-family: DINRoundPro, sans-serif;
  font-size: 16px;
  color: white;
  font-weight: bold;
  width: 210px;
  height: 50px;
  border: none;
  border-radius: 25px;
  background: #ec9e21;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  outline: none;
  cursor: pointer;
}