mixin price
  .price
    .price__wrapper
      p.price__total 3 700 &#8381;
      p.price__current 2 290 
        span &#8381;
      p.price__save
        span 1 100&#8381;
        |  экономии
    .price__discont 
      p.price__percent -23%